.form_div{
  position: relative;
  width: 50%;
  border: 1px solid black;
  border-radius: 3vh;

  margin: 1vh;

  padding: 10px 10px 10px 10px;

}

form{
  position: relative;
}

button[type=submit]{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
  width: 15%;
}

.form_div input[type=text]{
  box-sizing: border-box;
  border: 2px solid darkmagenta;
  border-radius: 4px;
  padding: 7px;
  width: 50%;
}

.form_div label{
  display: block;
  padding: 0.5%;
  margin-left: 3%;
}

.form_div label > span{
  width: 20%;
  font-weight: bold;
  float: left;
  padding-top: 2%;
  padding-right: 5px;
}

.errorMessage{
  margin-left: 3%;
  color: red;
}
