<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="font-size: 1.5vw; padding: 30px;">
    &nbsp;&nbsp;&nbsp;
    <a href="/clients" style="text-decoration: none">Clients</a>&nbsp;&nbsp;&nbsp;
    <a href="/photographers" style="text-decoration: none">Photographers</a>&nbsp;&nbsp;&nbsp;
    <a href="/albums" style="text-decoration: none">Albums</a>&nbsp;&nbsp;&nbsp;
    <a href="/pictures" style="text-decoration: none">Pictures</a>&nbsp;&nbsp;
  </span>
</div>

<div class="content" role="main">

</div>

<router-outlet></router-outlet>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

